<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="hm.hm"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/campusol" android:label="@string/app_name">
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<activity android:label="ISense" android:name=".FunctionTabActivity"></activity>
		
        <activity android:label="TaskActivity" android:name=".MyTaskActivity"></activity>
        
        <activity android:label="PublishActivity" android:name=".PublishActivity"></activity>
        
        <activity android:label="FriendListActivity"  android:name=".FriendListActivity"></activity>
        
        <activity android:label="MyInfoActivity" android:name=".MyInfoActivity"></activity>
        
        <activity android:label="SearchActivity"  android:name=".SearchActivity"></activity>
        
        
        
        <activity android:label="Task Reply" android:name=".NotifiedActivity"></activity>
		
		
    </application>
</manifest>